<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Recipe</title>
</head>
<body>
<div align="center">
    <h1>Create New Recipe</h1>
    <br/>
    <form action="#" th:action="@{/recipes/save}" th:object="${recipe}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Recipe Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name 
            </tr>
            <tr>
                <td>Ingredients:</td>
                <td><input type="text" th:field="*{ingredients}"/></td>
                <td th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}">Ingredients 
            </tr>
            <tr>
                <td>Process:</td>
                <td><input type="text" th:field="*{process}"/></td>
                <td th:if="${#fields.hasErrors('process')}" th:errors="*{process}">Process
            </tr>
            <tr>
                <td>Time preparation:</td>
                <td><input type="text" th:field="*{timepreparation}"/></td>
                <td th:if="${#fields.hasErrors('timepreparation')}" th:errors="*{timepreparation}">Time Preparation 
            </tr>
            <tr>
                <td>Plate Type:</td>
                <td><input type="text" th:field="*{platedtype}"/></td>
                <td th:if="${#fields.hasErrors('platedtype')}" th:errors="*{platedtype}">Process
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>